* {
  font-family: "JetBrainsMono Nerd Font Propo";
  margin: 0px 0px;
  border: none;
  padding: 0px 0px;
  background-color: transparent;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
}

#custom-launcher {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 5px;
}

#workspaces button {
  margin: 0px 5px;
  background-color: transparent;
  font-size: medium;
  font-weight: bold;
  transition: all 250ms ease-in-out;
  color: #ffffff;
  border-radius: 7px;
  min-height: 0px;
}



#workspaces button.focused,
#workspaces button.active {
  background-color: #b29cc6;
  color: #22122f;
  transition: all 250ms ease-in-out;
  min-width: 55px;
  font-weight: bold;
}


#window,
#workspaces {
  background-color: #22122f;
  border-radius: 10px;
  padding: 3px 2px;
  border: 1px solid #b29cc6;
}


#date-time {
  background-color: #22122f;
  border-radius: 10px;
  padding: 3px 60px;
  border: 1px solid #b29cc6;
}

#clock.date {
  font-weight: bolder;
  font-size: medium;
}

#clock.time {
  color: black;
  background-color: #b29cc6;
  border-radius: 8px;
  margin: 0 15px;
  padding: 0px 10px;
  font-weight: bolder;
  font-size: medium;
}

#tray {
  padding: 0 20px;
  background-color: #22122f;
  border-radius: 10px;
  border: 1px solid #b29cc6;
  font-size: x-small;
}

#cpu,
#memory {
  font-size: xx-small;
  font-weight: bold;
}

#system {
  padding: 2px 10px;
  border-radius: 10px;
  background-color: #22122f;
  border: 1px solid #b29cc6;
}

#battery {
  font-weight: bold;
  color: #32df91;
  background: transparent;
  font-size: medium;
}

#battery.charging,
#battery.plugged,
#battery.good {
  color: #32df91;
}

#battery.warning {
  color: #dbbe3c;
}

/* #battery.critical { */
#battery.critical:not(.charging) {
  color: #e63636;
}

#network.disconnected,
#network.disabled {
  color: #e63636
}

#network.linked {
  color: #dbbe3c;
}


#custom-power {
  font-size: x-large;
  margin-left: 5px;
  margin-right: 10px;
}

#power-profiles-daemon {
  margin-left: 15px;
  font-weight: bold;
  font-size: medium;
}

#pw {
  background-color: #22122f;
  border: 1px solid #b29cc6;
  border-radius: 10px;
  padding: 0 15px;
}
#network-bluetooth-audio {
  border: 1px solid #b29cc6;
  background-color: #22122f;
  border-radius: 10px;
  padding: 0px 15px;
}

#bluetooth {
  font-size: large;
  margin: 0px 15px;
}

#pulseaudio {
  font-size: medium;
  font-weight: bold;
}
